body {
  width: 80%;

  margin: auto;
}

.card {
  max-width: 400px;
  margin: auto;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu {
  margin: 10px;
}

ul {
  list-style: none;
  padding: 5px;
}

.foot,
h3 {
  margin: 10px;


}