body{
width:75%;

margin: auto;


}

.card{
    max-width: 400px;
margin: auto;

}

form{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu{
    
    margin: 10px;

}

ul{
    list-style: none;
    padding: 5px;

}


.sign{
    display:inline-block;
}
    